<a href="https://colab.research.google.com/github/LucyKinyua/Week4_MS/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_05_Lucy_Kinyua_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview

In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

- Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

Bonus Questions (Optional)

- What is the most popular hour for returning cars?
- What station is the most popular?
 - Overall?
 - At the most popular picking hour?
- What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
 - Overall?
 - At the most popular picking hour?
- Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

# Importing Python libraries and loading the dataset

In [1]:
# Importing the Pandas and NumPy libraries;
# 
import pandas as pd
import numpy as np

In [2]:
# Creating a DataFrame from the Autolib dataset;
# 
autolib_df = pd.read_csv('Autolib_dataset (2).csv', delimiter = ',')
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

# Data Understanding

In [3]:
# Previewing the first 10 rows of the DataFrame;
# 
autolib_df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [4]:
# Checking the shape (that is, the number of rows and columns) of the DataFrame;
# 
autolib_df.shape

(5000, 25)

In [5]:
# Printing out the column names;
# 
autolib_df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [6]:
# Accessing information about our DataFrame;
# 
autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Data Preparation

In [7]:
# Checking the dataset for null values;
# 
autolib_df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [8]:
# There are a statistically significant number of missing/null values in the two columns,
# That is, 'Displayed comment' and 'Scheduled at'
# Therefore, we could drop them;
# 
autolib_df.drop(['Displayed comment', 'Scheduled at'], axis=1, inplace=True)
autolib_df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 23 columns]

In [9]:
# Checking the shape of the DataFrame to confirm the change has taken effect;
# 
autolib_df.shape

(5000, 23)

In [10]:
# Also, note that some columns are either redundant or irrelevant, e.g.,
# 'Cars' and 'Bluecar counter' always have the same value. Therefore, we could drop 'Cars'
# 'Address', 'Kind' and 'Geo point' are irrelevant columns for this data mining project
# Therefore, we could drop them;
# 
autolib_df.drop(['Cars', 'Address', 'Kind', 'Geo point'], axis=1, inplace=True)
autolib_df.head(10)

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                0               0                   0  ...    8   11     43
1                6               0                   0  ...    6    7     24
2                3               0                   2  ...    3   20     14
3                3               1                   0  ...    4    4     37
4                3               0                   0  ...    8   17     23
5                0               0                   0  ...    6    7      2
6                0               0                   0  ...    8   18     20
7                3               1                   0  ...    4   22     13
8                1               0                   0  ...    2   22     58
9                6               0                   0  ...    4   15      2

[10 rows x 19 columns]

In [11]:
# Checking the shape of the DataFrame to confirm the change has taken effect;
# 
autolib_df.shape

(5000, 19)

In [12]:
# Describing the statistical properties of the integer values in the DataFrame;
# 
autolib_df.describe()

       Bluecar counter  Utilib counter  ...         hour       minute
count      5000.000000     5000.000000  ...  5000.000000  5000.000000
mean          2.333600        0.059600  ...    11.509200    29.270000
std           2.035274        0.246698  ...     6.893549    17.231741
min           0.000000        0.000000  ...     0.000000     0.000000
25%           0.000000        0.000000  ...     6.000000    14.000000
50%           2.000000        0.000000  ...    11.000000    29.000000
75%           4.000000        0.000000  ...    18.000000    44.000000
max           7.000000        2.000000  ...    23.000000    59.000000

[8 rows x 11 columns]

In [13]:
# We're told that the column name 'Charging Status' has some typos
# Let's confirm this by getting all the unique values in the 'Charging Status' column;
# 
charging_status = autolib_df['Charging Status'].unique()

# Sort them alphabetically and then take a closer look
# 
charging_status.sort()
charging_status

array(['broken', 'nonexistent', 'operational'], dtype=object)

We see that the values under the column 'Charging Status' don't have typos.

# Analysis

In [16]:
# What is the most popular hour for returning cars?
# 
n = 1
autolib_df['hour'].value_counts()[:n].index.tolist()

[21]

In [17]:
# What is the most popular hour for returning cars?
# Alternative way of finding out;
# 
autolib_df.hour.mode()

0    21
dtype: int64

In [27]:
# What station is the most popular, overall?
# 
n = 1
autolib_df['Public name'].value_counts()[:n].index.tolist()

['Paris/Porte de Montrouge/8']

In [31]:
# What station is the most popular, overall?
# Alternative way of finding out;
# 
autolib_df.ID.mode()

0    paris-portedemontrouge-8
dtype: object

In [26]:
# To get top 10 most frequent stations
n = 10
autolib_df['Public name'].value_counts()[:n].index.tolist()

['Paris/Porte de Montrouge/8',
 'Paris/Voltaire/182',
 'Paris/Mathis/35',
 'SÃ¨vres/WolfenbÃ¼ttel/1',
 'Paris/Grenelle 31/Parking',
 'Paris/Courcelles/69',
 'Paris/Philippe Auguste/126',
 'Paris/RapÃ©e/46',
 'Paris/Flandre/169',
 'Paris/BrÃ©montier/19']

In [30]:
# What postal code is the most popular for picking up Blue cars, overall?
# 
n = 1
autolib_df['Postal code'].value_counts()[:n].index.tolist()

[75015]

In [34]:
# Does the most popular station belong to that postal code?
# Answer: No (Checked the excel sheet)
#

In [ ]:
# What postal code is the most popular for picking up Blue cars, at the most popular picking hour?
#

In [ ]:
# Research Question:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) ...
# in the city of Paris over the month of April 2018.
#

# Evaluation

Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?